
<div class="container mb-4" >
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="admin-heading">Order Management </h1>
        <div>
            
            <!-- <button  class="btn btn-custom-primary px-4 py-2"  (click)="chooseevent()"> order </button> -->
        </div>
    </div>



<div class="card border-0 mb-4 px-4 py-4">
    <div class="d-md-flex justify-content-between align-items-center my-3">
        <div class="d-flex  align-items-center mb-md-0 mb-2">
            <span class="me-1 show-entery-text">Show</span>
            <select class="form-control form-select show-entries-select" (change)="onTableSizeChange($event)">
                <option *ngFor="let size of tableSizes" [ngValue]="size">
                    {{ size }}
                </option>
            </select>
            <span class="ms-1 show-entery-text">entries</span>
        </div>

        <div class="d-flex align-items-center">
            <form [formGroup]="searchbarform" class="d-flex align-items-center">
                <span class="me-1">Search:</span>
                <div>
                    <input type="text" class="form-control search-user position-relative" type="text"
                        autocomplete="off" formControlName="searchbar"
                        [ngClass]="{ 'is-invalid':searchbarform.controls['searchbar'].errors && (searchbarform.controls['searchbar'].touched || searchbarform.controls['searchbar'].dirty) }">
                    <div class="text-danger error-message d-block"
                        *ngIf="searchbarform.controls['searchbar'].errors && (searchbarform.controls['searchbar'].touched || searchbarform.controls['searchbar'].dirty)">
                        <p class="fw-light  text-danger search-required"
                            *ngIf="searchbarform.controls['searchbar'].errors['required']">
                            This is required</p>
                    </div>
                </div>

                <button class="btn btn-primary search-btn ms-2" (click)="searchfun()"><span><i
                            class="fa-solid fa-magnifying-glass form-control-feedback"></i></span>
                </button>
                <button class="btn btn-primary search-btn ms-2" (click)="resetsearchbar()" type="submit"
                    *ngIf="showreset==true"><span><i
                            class="fa-solid fa-rotate-right form-control-feedback"></i></span>
                </button>
            </form>

        </div>

    </div>
    <div class="table-responsive-sm">
        <table class="table  table-bordered table-hover table-striped mb-0">
            <thead class="table-header">
                <tr *ngFor="let detail of table_heading">
                   
                    <th>
                        <p class="table-heading">{{ detail.heading0 }}</p>
                    </th>
                    <th>
                        <p class="table-heading">{{ detail.heading1 }}</p>
                    </th>
                    <th>
                        <p class="table-heading">{{ detail.heading2 }}</p>
                    </th>
                    <th>
                        <p class="table-heading">{{ detail.heading3 }}</p>
                    </th>
                <th>
                    <p class="table-heading">{{ detail.heading4 }}</p>
                </th> 
                <th>
                    <p class="table-heading">{{ detail.heading5 }}</p>
                </th> 
                <th>
                    <p class="table-heading">{{ detail.heading6 }}</p>
                </th> 
              
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orderTable; let i = index">
                  
                    <td>{{ i + 1 }}</td>
                    <td>
                        <p>{{ order.orderID }}</p>
                    </td>
                    <td>
                        <p>{{ order.customer }}</p>
                    </td>
                    <td>
                        <p>{{ order.bookingdate }}</p>
                    </td>
                    <td>
                        <p>{{ order.paid }}</p>
                    </td>
                    <td>
                        <p>{{ order.amount }}</p>
                    </td>
                   
                    <td>
                        <p>{{ order.action }}
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item  (click)="viewmodal()">View Details</button>
                                <!-- <button mat-menu-item (click)="deleteeventmmodal()">Delete Event</button> -->
                            </mat-menu>
                        </p>

                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-md-flex justify-content-between bottom-0 end-0 py-2 align-items-center">
            <span class="showalltext">Showing
                {{(tableSize*(page-1))>0?tableSize*(page-1)+1:1}} to
                {{(tableSize*(page))<=totalRecords?tableSize*(page):totalRecords}} of
                    {{totalRecords!=undefined?totalRecords:""}} entries</span>
                    <!-- <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]=true
                        (pageChange)="onTableDataChange($event)" target="_top"></pagination-controls> -->
        </div>
    </div>
</div>

</div>
