

<div class="card border-0   shadow-lg shadow-cyan-500">
    <div class="card-body px-5  py-5">
      <form [formGroup]="ForgotForm">
        <div class="text-center mb-3">
          <h3 class="login-border-texxt  text-center">{{title}}</h3>
        </div>
        <div class="mb-3">
          <label class="d-block text-capitalize form-label form-lable-custom" for="Email">Enter Your Email</label>
          <input type="text" class="d-block  form-control form-input-custom" formControlName="Email"
            placeholder="Enter Your Email"
            [ngClass]="{ 'is-invalid':ForgotForm.controls['Email'].errors && (ForgotForm.controls['Email'].touched || ForgotForm.controls['Email'].dirty) }">
          <div class="text-danger error-message"
            *ngIf="ForgotForm.controls['Email'].errors && (ForgotForm.controls['Email'].touched || ForgotForm.controls['Email'].dirty)">
            <p class="fw-light    text-danger" *ngIf="ForgotForm.controls['Email'].errors['required']">
              Email is required</p>
            <p class="fw-light  text-danger" *ngIf="ForgotForm.controls['Email'].errors['pattern']">
              Please Enter correct email</p>
          </div>
        </div>
        <!-- new code for otp -->
        <div>
          <button class=" btn  main-btn btn-custom-primary  px-5  mt-3   w-100 text-white"
            (click)="ForgetPasswordfun()">Verfiy Email</button>
          <div class="text-end error-message " *ngIf="!submitted">
            <p class="fw-light text-danger">{{errorMessage}}</p>
          </div>
        </div>
      </form>
    </div>
  </div>