.hedaer-content {
  padding: 10px;
}


.tooglewithlogo {
  padding: 7px 12px;
  border: 1px solid #e9ecef;
  width: 20%;
  border-right: 0;
}


.header-dropdown {
  position: absolute;
  width: fit-content;
  z-index: 2;
}

.header-profile {
  margin-right: 50px;
}

.notification {
  color: #1075bc;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: all 500ms ease-in;
}