.login {
    // background: rgb(103,58,183);
    // background: linear-gradient(90deg, rgba(103,58,183,1) 0%, rgba(103,58,183,0.6979166666666667) 25%);
    // background-image: url("assets/motion graphic background_12.png");

    
    height: 100%;
}



.logo-img {
    max-width: 140px;
    margin-top: 50px;
    height: 50px;
}


.orange-card {
    color: #d66112;
  }

//d45812
  
.login-row{

    padding-top:70px;
}