<section class="login">
    <div class="container">
       

        <div class="row">
            <div class="col-lg-5 col-md-5 col-12   login-content">
                <div>
                <img src="./assets/amconlogin.jpg" class="login-screen-img ">
                </div>
            </div>
            
            <div class="col-lg-6 col-xl-6 offset-lg-1 col-md-6 col-12  login-content">
                    <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>