.row {
    display: flex;
    justify-content: space-between; /* Adds space between the cards */
  }
  
  .custom-card {
    margin-right: 15px; /* Adds margin to the right side */
     }
  .card-body {
  width: 100%; /* Adds margin to the right side */
     }
  
     .main-btnfsss {
        font-size: 16px;
        margin-top: 18px;
      }

  
  .card-text2{
color: red;
font-size: 18px;
  }
  
  .card-title2{
font-size: 22px;
  }
   
  .card-text{
color: green;
font-size: 18px;
  }
   
       
      