.row {
    display: flex;
    justify-content: space-between; /* Adds space between the cards */
  }
  
  .custom-card {
    margin-right: 15px; /* Adds margin to the right side */
    width: 98%;
 
  }
  
  
  .card-text2{
color: red;
  }
   
  .card-text{
color: green;
  }
   
  