<div *ngIf="openSecondsuccess" class="your-animation-class modal-container-success" [@slideIn]
    aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div>
        <div class=" p-4 d-flex justify-content-between align-items-center success-content">
            <span class="icon-success me-2"><i class="fa-solid fa-check"></i></span>
            <p class="text-green-900 text-capitalize mb-0">
                Login successfully</p>
        </div>
    </div>
</div>


<div class="container mx-auto mb-4 ">
    <div class="d-flex justify-content-center align-items-center">
        <h1 class="text-primary heading-dashboard"> Welcome Back {{name}} !!!</h1>
        <div>


        </div>
    </div>
    <p>Lorem
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto consequuntur harum voluptas sunt,
        quisquam nostrum? Rerum repellendus magni doloribus non veritatis eaque. Nemo, non cum tenetur deleniti
        at hiclllore lorem1000Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto consequuntur harum voluptas sunt,
        quisquam nostrum? Rerum repellendus magni doloribus non veritatis eaque. Nemo, non cum tenetur deleniti
        at hiclllore lorem1000Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto consequuntur harum voluptas sunt,
        quisquam nostrum? Rerum repellendus magni doloribus non veritatis eaque. Nemo, non cum tenetur deleniti
        at hiclllore lorem1000Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto consequuntur harum voluptas sunt,
        quisquam nostrum? Rerum repellendus magni doloribus non veritatis eaque. Nemo, non cum tenetur deleniti
        at hiclllore lorem1000Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto consequuntur harum voluptas sunt,
        quisquam nostrum? Rerum repellendus magni doloribus non veritatis eaque. Nemo, non cum tenetur deleniti
        at hiclllore lorem1000Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto consequuntur harum voluptas sunt,
        quisquam nostrum? Rerum repellendus magni doloribus non veritatis eaque. Nemo, non cum tenetur deleniti
        at hiclllore lorem1000Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto consequuntur harum voluptas sunt,
        quisquam nostrum? Rerum repellendus magni doloribus non veritatis eaque. Nemo, non cum tenetur deleniti
        at hiclllore lorem1000Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto consequuntur harum voluptas sunt,
        quisquam nostrum? Rerum repellendus magni doloribus non veritatis eaque. Nemo, non cum tenetur deleniti
        at hiclllore lorem1000Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto consequuntur harum voluptas sunt,
        quisquam nostrum? Rerum repellendus magni doloribus non veritatis eaque. Nemo, non cum tenetur deleniti
        at hiclllore lorem1000Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto consequuntur harum voluptas sunt,
        quisquam nostrum? Rerum repellendus magni doloribus non veritatis eaque. Nemo, non cum tenetur deleniti
        at hiclllore lorem1000 ipsum dolor sit amet consectetur adipisicing elit. Natus iusto consequuntur harum voluptas sunt,
        quisquam nostrum? Rerum repellendus magni doloribus non veritatis eaque. Nemo, non cum tenetur deleniti
        at hiclllore lorem1000
        .</p>
</div>






