.row {
    display: flex;
    justify-content: space-between; /* Adds space between the cards */
  }
  
  .custom-card {
    margin-right: 15px; /* Adds margin to the right side */
    width: 98%;
    text-align: center;
  }
  
  
  .card-text2{
color: red;
  }
   
  .card-text{
color: green;
  }
   
  .active-status{
    color: green;
}
.deactive-status{
    color: red;
}

.rotate-icon{
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }



  /* receipt.component.css */
  .receipt-container {
      width: 800px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #000;
      background-color: #f9f9f9;
      font-family: Arial, sans-serif;
  }

  .header {
    //   text-align: center;
  }

  .header h2 {
      margin: 0;
  }

  .receipt-info,
  .details,
  .total-amount,
  .bank-details {
      margin-bottom: 20px;
  }

  .receipt-info div,
  .details div,
  .total-amount div {
      display: flex;
      justify-content: space-between;
  }

  .receipt-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
  }

  .receipt-table th,
  .receipt-table td {
      border: 1px solid #000;
      padding: 10px;
      text-align: left;
  }

  .total-amount div,
  .bank-details div {
      margin-bottom: 10px;
  }

  .footer {
      text-align: right;
  }

  .footer p {
      margin: 0;
  }

  hr {
      border: none;
      border-top: 1px solid #000;
  }

  .institute{
    // background-color: #000;
    color:#d45812;
    padding: 6px;
    margin-bottom: 20px;
  }
  .fee-recipet-img{
    max-width: 120px;
  }