<div class="container-fluid mb-4">
  <div class="d-md-flex justify-content-between align-items-center">
    <h1 class="text-primary table-heading-detail">New Shops</h1>
  </div>

  <div class="card table-card border-0 mb-4 px-4 py-4">
    <div class="d-md-flex justify-content-between align-items-center my-3">
      <div class="d-flex align-items-center mb-md-0 mb-2">
        <span class="me-1 show-entery-text">Show</span>
        <select
          class="form-control form-select show-entries-select"
          (change)="onTableSizeChange($event)"
        >
          <option *ngFor="let size of tableSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>
        <span class="ms-1 show-entery-text">entries</span>
      </div>

      <div class="d-flex align-items-center">
        <form [formGroup]="searchbarform" class="d-flex align-items-center">
          <span class="me-1">Search:</span>
          <div
            [ngClass]="{ 'table-card table': searchbarform.controls['searchbar'].errors?.['required'] && (searchbarform.controls['searchbar'].touched || searchbarform.controls['searchbar'].dirty) }"
          >
            <input
              type="text"
              class="form-control search-user position-relative"
              type="text"
              autocomplete="off"
              formControlName="searchbar"
              [ngClass]="{
                'is-invalid':
                  searchbarform.controls['searchbar'].errors &&
                  (searchbarform.controls['searchbar'].touched ||
                    searchbarform.controls['searchbar'].dirty)
              }"
            />
            <div
              class="text-danger error-message d-block"
              *ngIf="
                searchbarform.controls['searchbar'].errors &&
                (searchbarform.controls['searchbar'].touched ||
                  searchbarform.controls['searchbar'].dirty)
              "
            >
              <p
                class="fw-light text-danger search-required"
                *ngIf="searchbarform.controls['searchbar'].errors['required']"
              >
                This is required
              </p>
            </div>
          </div>

          <button class="btn btn-primary search-btn ms-2" (click)="searchfun()">
            <span
              ><i class="fa-solid fa-magnifying-glass form-control-feedback"></i
            ></span>
          </button>
          <button
            class="btn btn-primary search-btn ms-2"
            (click)="resetsearchbar()"
            type="submit"
            *ngIf="showreset == true"
          >
            <span
              ><i class="fa-solid fa-rotate-right form-control-feedback"></i
            ></span>
          </button>
        </form>
      </div>
    </div>
    <div class="table-responsive-sm">
      <table class="table table-bordered table-hover table-striped mb-0">
        <thead class="table-header">
          <tr *ngFor="let detail of table_heading">
            <th>
              <p class="table-heading">{{ detail.heading0 }}</p>
            </th>
            <th>
              <p class="table-heading">{{ detail.heading1 }}</p>
            </th>
            <th>
              <p class="table-heading">{{ detail.heading22 }}</p>
            </th>
            <th>
              <p class="table-heading">{{ detail.heading2 }}</p>
            </th>
            <th>
              <p class="table-heading">{{ detail.heading3 }}</p>
            </th>

            <th>
              <p class="table-heading text-capitalize">{{ detail.heading4 }}</p>
            </th>

            <th>
              <p class="table-heading text-capitalize">{{ detail.heading5 }}</p>
            </th>
            <th>
              <p class="table-heading text-capitalize">{{ detail.heading6 }}</p>
            </th>
            <th>
              <p class="table-heading text-capitalize">{{ detail.heading7 }}</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let banner of newshopsTable
                | paginate
                  : {
                      itemsPerPage:
                        tableSize != 'all' ? tableSize : totalRecords,
                      currentPage: page,
                      totalItems: totalRecords
                    };
              index as i
            "
          >
            <td>
              {{
                tableSize * (page - 1) + i + 1 > 0
                  ? tableSize * (page - 1) + i + 1
                  : i + 1
              }}
            </td>
            <td>
              <a [href]="banner.store_image" target="_blank" class="cursor">
                <img
                  class="admin-banner"
                  *ngIf="banner.store_image != undefined"
                  [src]="banner.store_image"
                  alt="banner image"
                />
              </a>
            </td>
            <td>
              <p>{{ banner.agency_name }}</p>
            </td>
            <td>
              <p>{{ banner.owner_name }}</p>
            </td>
            <td>
              <p>{{ banner.store_address }}</p>
            </td>
            <td>
              <p>{{ banner.store_contact }}</p>
            </td>
            <td>
              <p>{{ banner.store_email }}</p>
            </td>
            <td>
              <p>{{ banner.store_tag }}</p>
            </td>

            <td>
              <p>
                {{ banner.action }}
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openApproveDialog(banner.id)">
                    Approve
                  </button>
                  <button mat-menu-item (click)="OpenviewModal(banner)">
                    View Details
                  </button>
                </mat-menu>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        class="d-md-flex justify-content-between bottom-0 end-0 py-2 align-items-center"
      >
        <span class="showalltext"
          >Showing
          {{ tableSize * (page - 1) > 0 ? tableSize * (page - 1) + 1 : 1 }} to
          {{
            tableSize * page <= totalRecords ? tableSize * page : totalRecords
          }}
          of {{ totalRecords != undefined ? totalRecords : "" }} entries</span
        >
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          [responsive]="true"
          (pageChange)="onTableDataChange($event)"
          target="_top"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="banneviewopen"
  class="your-animation-class modal-container"
  aria-labelledby="modal-BannerType"
  role="dialog"
  aria-modal="true"
>
  <div class="modal-content modal-content-50" [@fadeIn]>
    <div (click)="ClickexamModalconent($event)">
      <form [formGroup]="authorityview">
        <div class="card">
          <div
            class="card-header bg-white d-flex justify-content-between align-items-center"
          >
            <h5 class="modal-title pt-1">View Details</h5>
            <button
              class="btn btn-primary main-btn bg-transparent border-0 pb-0 pt-1 text-black"
              type="button"
              (click)="closeModal()"
            >
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="modal-content-width card-body mb-0 pb-0">
            <div class="row">
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="agency_name"
                  >Agency Name</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="agency_name"
                  #agency_name
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="pharmacist_name"
                  >Pharmacist Name</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="pharmacist_name"
                  #pharmacist_name
                  [readOnly]="true"
                />
              </div>

              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="owner_name"
                  >Owner Name</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="owner_name"
                  #owner_name
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="owner_email"
                  >Owner Email</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="owner_email"
                  #owner_email
                  [readOnly]="true"
                />
              </div>

              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="owner_contact_no"
                  >Owner Contact No</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="owner_contact_no"
                  #owner_contact_no
                  [readOnly]="true"
                />
              </div>
              <!-- <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="owner_alt_contact_no"
                  >Owner Alternate Contact No</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="owner_alt_contact_no"
                  #owner_alt_contact_no
                  [readOnly]="true"
                />
              </div> -->
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="owner_residential_address"
                  >Owner Residential Address</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="owner_residential_address"
                  #owner_residential_address
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="role"
                  >Role</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="role"
                  #role
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="gst_no"
                  >GST Number</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="gst_no"
                  #gst_no
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="store_address"
                  >Store Address</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="store_address"
                  #store_address
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="State"
                  >State</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="State"
                  #State
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="city_id"
                  >City</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="city_id"
                  #city_id
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="pin_code"
                  >Pin Code</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="pin_code"
                  #pin_code
                  [readOnly]="true"
                />
              </div>

              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="store_contact"
                  >Store Contact</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="store_contact"
                  #store_contact
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="store_email"
                  >Store Email</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="store_email"
                  #store_email
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="store_tag"
                  >Store Tag</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="store_tag"
                  #store_tag
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="working_type"
                  >Working Type</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="working_type"
                  #working_type
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="opening_time"
                  >Opening Time</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="opening_time"
                  #opening_time
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="closing_time"
                  >Closing Time</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="closing_time"
                  #closing_time
                  [readOnly]="true"
                />
              </div>
              <!-- <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="working_days"
                  >Working Days</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="working_days"
                  #working_days
                  [readOnly]="true"
                />
              </div> -->

              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="delivery_service_available"
                  >Delivery Service Available</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="delivery_service_available"
                  #delivery_service_available
                  [readOnly]="true"
                />
              </div>
              <div class="col-lg-6 col-md-6 mb-3">
                <label
                  class="d-block text-capitalize form-label admin-form-lable"
                  for="home_delivery_available"
                  >Home Delivery Available</label
                >
                <input
                  type="text"
                  class="d-block form-control form-input-custom"
                  formControlName="home_delivery_available"
                  #home_delivery_available
                  [readOnly]="true"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer text-end mb-4 me-4">
            <button
              class="btn btn-secondary main-btnfs px-4 py-2 text-gray-600"
              type="button"
              (click)="closeModal()"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  *ngIf="openSecondsuccess"
  class="your-animation-class modal-container-success"
  [@slideIn]
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div>
    <div
      class="p-4 d-flex justify-content-between align-items-center success-content"
    >
      <span class="icon-success me-2"><i class="fa-solid fa-check"></i></span>
      <p class="text-green-900 text-capitalize mb-0">
        {{ successName }} successfully
      </p>
    </div>
  </div>
</div>

<!-- Confirmation Employee Modal -->
<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
  *ngIf="showApproveDialog"
  (click)="closeApproveDialog()"
>
  <div
    class="bg-white rounded-2xl shadow-xl w-full max-w-md p-6"
    (click)="$event.stopPropagation()"
  >
    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
      <p class="text-xl font-bold text-gray-900 mb-0">Confirm Approve</p>
      <button (click)="closeApproveDialog()" class="focus:outline-none">
        <i class="fas fa-times text-gray-500 hover:text-grey-700 text-xl"></i>
      </button>
    </div>

    <!-- Body -->
    <div class="mb-6 space-y-2">
      <!-- <p class="text-lg text-gray-700 font-medium">
        <span class="text-gray-900">Employee Name: </span>
        <span class="font-semibold text-blue-700">{{ employeeName }}</span>
      </p> -->
      <p class="text-lg text-gray-700 leading-relaxed">
        Are you sure you want to approve?
        <br />
        <span class="">This action cannot be undone.</span>
      </p>
    </div>

    <!-- Footer Buttons -->
    <div class="flex justify-end gap-3 mt-4">
      <button
        class="px-4 py-2 rounded-md bg-gray-200 text-gray-700 font-medium hover:bg-gray-300 transition"
        (click)="closeApproveDialog()"
      >
        Cancel
      </button>
      <button
        class="px-4 py-2 rounded-md bg-green-600 text-white font-semibold hover:bg-green-700 transition"
        (click)="shopApprove(this.shopApproveId)"
      >
        Approve
      </button>
    </div>
    <p *ngIf="errorMessage" class="text-red-600 text-sm mt-2">
      {{ errorMessage }}
    </p>
  </div>
</div>
