<div class="container ">
    <div class="d-flex justify-content-between">
        <h1 class="text-primary table-heading-detail">Attendance</h1>
        <form [formGroup]="CalendarForm">
            <mat-form-field class="attendance-management-date-picker">
                <input matInput [matDatepicker]="picker" formControlName="Caledardate" [max]="maxDate"
                    onkeydown="return false" #Caledardate>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </form>
    </div>


    <div class="row">
        <div class="col-lg-4 col-md-4 pe-5">
            <div class="card border-0 my-3">
                <div class="card-body pb-0">
                    <h1 class="attendance-m-heading pb-0 border-bottom text-center pb-0">Present
                        Employees</h1>
                    <p class="text-center mt-3 mb-2">{{ totalPresent !== undefined && totalPresent !== null ?
                        totalPresent : 'Not available' }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 pe-5">
            <div class="card border-0 my-3">
                <div class="card-body pb-0">
                    <h1 class="attendance-m-heading pb-0 border-bottom text-center">Absent
                    </h1>
                    <p class="text-center mt-3 mb-2">{{ totalAbsent !== undefined && totalAbsent !== null ? totalAbsent
                        : 'Not available' }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card border-0 my-3">
                <div class="card-body pb-0">
                    <h1 class="attendance-m-heading pb-0 border-bottom text-center">Day's salary</h1>
                    <p class="text-center mt-3 mb-2">{{ totalNetAmount !== undefined && totalNetAmount !== null ?
                        "₹" + (totalNetAmount) : 'Not available' }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <form [formGroup]="searchbarform" class="">
                <div class="d-flex mt-2">
                    <input type="text" class="form-control search-user position-relative py-2" type="text"
                        autocomplete="off" formControlName="searchbar" placeholder="Search:"
                        [ngClass]="{ 'is-invalid':searchbarform.controls['searchbar'].errors && (searchbarform.controls['searchbar'].touched || searchbarform.controls['searchbar'].dirty) }">
                    <div class="text-danger error-message d-block"
                        *ngIf="searchbarform.controls['searchbar'].errors && (searchbarform.controls['searchbar'].touched || searchbarform.controls['searchbar'].dirty)">
                        <p class="fw-light  text-danger search-required"
                            *ngIf="searchbarform.controls['searchbar'].errors['required']">
                            This is required</p>
                    </div>

                    <button class="btn btn-primary search-btn ms-2" (click)="searchfun()"><span><i
                                class="fa-solid fa-magnifying-glass form-control-feedback"></i></span>
                    </button>
                    <button class="btn btn-primary search-btn ms-2" (click)="resetsearchbar()" type="submit"
                        *ngIf="showreset==true"><span><i
                                class="fa-solid fa-rotate-right form-control-feedback"></i></span>
                    </button>
                </div>

            </form>

        </div>
        <div class="col-lg-4">

        </div>
    </div>
</div>

<div class="container">
    <div class="text-end">
        <button class="btn btn-primary mb-3 me-3" (click)="AddopenWorker()">
            Add Worker
        </button>

        <button class="btn btn-primary mb-3" (click)="AddopenWorkeforce()">
            Create Workforce
        </button>


    </div>
    <div class="card border-0 mb-4 py-0 tabel-card">
        <table class="table table-hover">
            <thead class="table-header-trailer">
                <tr>
                    <th>
                        <p class="table-heading table-new-heading">Name</p>
                    </th>
                    <th>
                        <p class="table-heading table-new-heading">Type</p>
                    </th>
                    <th>
                        <p class="table-heading table-new-heading">Salary <span>(perday)</span></p>
                    </th>
                    <th>
                        <p class="table-heading table-new-heading">Workforce</p>
                    </th>

                    <th>
                        <p class="table-heading table-new-heading">Persent</p>
                    </th>
                    <th>
                        <p class="table-heading table-new-heading">Absent</p>
                    </th>

                    <th>
                        <p class="table-heading table-new-heading">Action</p>
                    </th>




                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attendance of Attendancetable; let i = index">
                    <td>
                        <p class="table-detail text-capitalize table-detail-new">
                            {{attendance.party_name }}</p>
                    </td>
                    <td>
                        <p class="table-detail text-capitalize td-width table-detail-new">{{
                            attendance.type }}</p>
                    </td>
                    <td>
                        <p class="table-detail text-capitalize ms-2 table-detail-new">{{
                            attendance.partyAttendance?.amount || '-'}}</p>
                    </td>

                    <td>
                        <p class="table-detail text-capitalize ms-2 table-detail-new">{{
                            attendance.workforces[0]?.name || '-'}}</p>
                    </td>

                    <!-- Present Status -->
                    <td>
                        <p class="table-detail text-capitalize ms-2 table-detail-new"
                        [ngClass]="{
                            'text-success': attendance.partyAttendance?.present, 
                            'text-muted': !attendance.partyAttendance?.present
                          }">
                            {{ attendance.partyAttendance?.present ? 'Present' : '-' }}
                        </p>
                    </td>

                    <!-- Absent Status -->
                    <td>
                        <p class="table-detail text-capitalize ms-2 table-detail-new"
                        [ngClass]="{
                            'text-danger': attendance.partyAttendance?.absent, 
                            'text-muted': !attendance.partyAttendance?.absent
                          }">
                            {{ attendance.partyAttendance?.absent ? 'Absent' : '-' }}
                        </p>
                    </td>

                    <td>
                        <p>
                            <button mat-icon-button class="p-0" [matMenuTriggerFor]="menu"
                                >
                                <mat-icon>more_vert</mat-icon>
                            </button>

                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="OpenViewDetails(attendance.party_id);" *ngIf="attendance.workforces && attendance.workforces.length > 0">View Details</button>
                                <button mat-menu-item (click)="OpenMarkpresent(attendance.party_id,0)" *ngIf="!attendance.workforces || attendance.workforces.length === 0">Mark Present</button>
                                <button mat-menu-item (click)="OpenMarkAbsent(attendance.party_id,0);" *ngIf="!attendance.workforces || attendance.workforces.length === 0">Mark Absent</button>
                            </mat-menu>

                            
                        </p>
                    </td>




                </tr>
            </tbody>
        </table>
    </div>
</div>



<div *ngIf="ViewDetailopen" class=" your-animation-class modal-container" aria-labelledby="modal-title" role="dialog"
    aria-modal="true">
    <div class="modal-content modal-content-75" [@fadeIn]>
        <div>
            <div class="card">
                <div class="card-header bg-white d-flex justify-content-between algin-items-center">
                    <h5 class="modal-title pt-1">Worker Details</h5>
                    <button class="btn btn-primary main-btn bg-transparent border-0 pb-0 pt-1 text-black" type="button"
                        (click)="closeviewdetial()"><i class="fa-solid fa-xmark"></i></button>
                </div>



                <div class="modal-content-width card-body mb-0">

                    <table class="table table-hover">
                        <thead class="table-header-trailer">
                            <tr>
                                <th>
                                    <p class="table-heading table-new-heading">Serial No.</p>
                                </th>

                                <th>
                                    <p class="table-heading table-new-heading">Type</p>
                                </th>

                                <th>
                                    <p class="table-heading table-new-heading">Salary <span>(perday)</span></p>
                                </th>

                                <th>
                                    <p class="table-heading table-new-heading">No. of Workers</p>
                                </th>

                                <th>
                                    <p class="table-heading table-new-heading">Present</p>
                                </th>

                                <th>
                                    <p class="table-heading table-new-heading">Absent</p>
                                </th>

                                <th>
                                    <p class="table-heading table-new-heading">Action</p>
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let worker of workertable; let i = index">
                                <td>{{ i + 1 }}</td>

                                <td>
                                    <p class="table-detail text-capitalize table-detail-new">
                                        {{worker.name || '-' }}</p>
                                </td>
                                <td>
                                    <p class="table-detail text-capitalize td-width table-detail-new">{{
                                        worker.salary }}</p>
                                </td>
                                <td>
                                    <p class="table-detail text-capitalize ms-2 table-detail-new">
                                        {{worker.no_of_workers}}</p>
                                </td>


                                <td>
                                    <p class="table-detail text-capitalize ms-2 table-detail-new">
                                      <button 
                                        class="btn custom-btn" 
                                        [ngClass]="{'btn-primary': worker.present, 'btn-default': !worker.present}" 
                                        (click)="OpenMarkpresent(worker.id,1)">
                                        Present
                                      </button>
                                    </p>
                                  </td>
                                  
                                  <!-- Absent Status -->
                                  <td>
                                    <button 
                                      class="btn custom-btn" 
                                      [ngClass]="{'btn-danger': worker.absent, 'btn-default': !worker.absent}" 
                                      (click)="OpenMarkAbsent(worker.id,1);">
                                      Absent
                                    </button>
                                  </td>
                                  


                                <td>
                                    <p>
                                        <button mat-icon-button class="p-0" [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>

                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item>View Details</button>
                                        </mat-menu>
                                    </p>
                                </td>


                            </tr>
                        </tbody>
                    </table>


                </div>

            </div>



        </div>
    </div>
</div>


<div *ngIf="addworkeropen" class=" your-animation-class modal-container" aria-labelledby="modal-title" role="dialog"
    aria-modal="true">
    <div class="modal-content modal-content-50" [@fadeIn]>
        <div>
            <form [formGroup]="AddWorkerForm">
                <div class="card">
                    <div class="card-header bg-white d-flex justify-content-between algin-items-center">
                        <h5 class="modal-title pt-1">Create Worker</h5>
                        <button class="btn btn-primary main-btn bg-transparent border-0 pb-0 pt-1 text-black"
                            type="button" (click)="closeModal()"><i class="fa-solid fa-xmark"></i></button>
                    </div>



                    <div class="modal-content-width card-body mb-0">
                        <div class="row">



                            <div class="col-lg-12 col-md-12 mb-3">
                                <label for="PartyType" class="form-label form-lable-custom">Party Type</label>
                                <select type="text" class="d-block  form-select form-control form-input-custom"
                                    formControlName="PartyType" #PartyType (change)="staffselect(PartyType.value)"
                                    [ngClass]="{ 'is-invalid':AddWorkerForm.controls['PartyType'].errors && (AddWorkerForm.controls['PartyType'].touched || AddWorkerForm.controls['PartyType'].dirty) }">
                                    <option *ngFor="let party of filteredPartyTypes" [value]="party.name">
                                        {{ party.name }}
                                    </option>
                                </select>
                                <div class="text-danger error-message"
                                    *ngIf="AddWorkerForm.controls['PartyType'].errors && (AddWorkerForm.controls['PartyType'].touched || AddWorkerForm.controls['PartyType'].dirty)">
                                    <p class="fw-light text-danger"
                                        *ngIf="AddWorkerForm.controls['PartyType'].errors['required']">ParTy Type

                                        is Requried</p>
                                </div>
                            </div>


                            <div class="col-lg-12 col-md-12 mb-3"
                                *ngIf="partyTypeName=='staff' || partyTypeName=='labour' || partyTypeName=='labour contractor' ">
                                <label for="StaffList" class="form-label form-lable-custom">Staff List</label>
                                <select type="text" class="d-block  form-select form-control form-input-custom"
                                    formControlName="StaffList" #StaffList
                                    (change)="labourcontractorstaff(StaffList.value)"
                                    [ngClass]="{ 'is-invalid':AddWorkerForm.controls['StaffList'].errors && (AddWorkerForm.controls['StaffList'].touched || AddWorkerForm.controls['StaffList'].dirty) }">
                                    <option *ngFor="let staff of Stafflist" [value]="staff.id">
                                        {{ staff.name }}
                                    </option>
                                </select>
                                <div class="text-danger error-message"
                                    *ngIf="AddWorkerForm.controls['StaffList'].errors && (AddWorkerForm.controls['StaffList'].touched || AddWorkerForm.controls['StaffList'].dirty)">
                                    <p class="fw-light text-danger"
                                        *ngIf="AddWorkerForm.controls['StaffList'].errors['required']">Staff list is
                                        requried</p>
                                </div>
                            </div>


                            <div class="col-lg-12 col-md-12 mb-3"
                                *ngIf="partyTypeName=='staff' || partyTypeName=='labour' ">
                                <label for="Salary" class="form-label form-lable-custom">Salary (perday)</label>
                                <input type="text" class="d-block form-control form-input-custom"
                                    formControlName="Salary"
                                    [ngClass]="{ 'is-invalid':AddWorkerForm.controls['Salary'].errors && (AddWorkerForm.controls['Salary'].touched || AddWorkerForm.controls['Salary'].dirty) }">

                                <div class="text-danger error-message"
                                    *ngIf="AddWorkerForm.controls['Salary'].errors && (AddWorkerForm.controls['Salary'].touched || AddWorkerForm.controls['Salary'].dirty)">
                                    <p class="fw-light text-danger"
                                        *ngIf="AddWorkerForm.controls['Salary'].errors['required']">Salary is requried
                                    </p>
                                </div>
                            </div>


                            <div class="col-lg-12 col-md-12 mb-3"
                            *ngIf="partyTypeName=='labour contractor' ">

                                <label class="d-block text-capitalize form-label form-lable-custom"
                                    for="labourstafflist">Select Workforce</label>

                                <ng-select [items]="labourstafflist" class="d-block" [appendTo]="'body'"
                                    bindLabel="worker_type" bindValue="id" [multiple]="true"
                                    formControlName="labourstafflist" groupBy="selectedAllGroup" [selectableGroup]="true"
                                    [ngClass]="{ 'is-invalid': AddWorkerForm.controls['labourstafflist'].errors && (AddWorkerForm.controls['labourstafflist'].touched || AddWorkerForm.controls['labourstafflist'].dirty) }">

                                    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> Select
                                        All
                                    </ng-template>
                                </ng-select>
                                <div class="text-danger error-message"
                                    *ngIf="AddWorkerForm.controls['labourstafflist'].errors && (AddWorkerForm.controls['labourstafflist'].touched || AddWorkerForm.controls['labourstafflist'].dirty)">
                                    <p class="fw-light text-danger"
                                        *ngIf="AddWorkerForm.controls['labourstafflist'].errors['required']">
                                        Select Workforce is required
                                    </p>
                                </div>
                            </div>




                        </div>
                    </div>
                    <div class="modal-footer text-end me-4 mb-3">
                        <button class="btn btn-secondary main-btnfs px-4 py-2 me-4 text-gray-600" type="button"
                            (click)="closeModal()">Cancel</button>
                        <button class="btn btn-primary main-btnfs px-4 py-2"
                            (click)="CreateWorkerfun();">Create</button>
                    </div>
                    <div class="text-end error-message" *ngIf="!submitted">
                        <p class="fw-light text-danger">{{errorMessage}}</p>
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>




<div *ngIf="addworkforceopen" class=" your-animation-class modal-container" aria-labelledby="modal-title" role="dialog"
    aria-modal="true">
    <div class="modal-content modal-content-50" [@fadeIn]>
        <div>
            <form [formGroup]="addworkforceform">
                <div class="card">
                    <div class="card-header bg-white d-flex justify-content-between algin-items-center">
                        <h5 class="modal-title pt-1">Create Workforce </h5>
                        <button class="btn btn-primary main-btn bg-transparent border-0 pb-0 pt-1 text-black"
                            type="button" (click)="closeModal()"><i class="fa-solid fa-xmark"></i></button>
                    </div>



                    <div class="modal-content-width card-body mb-0">
                        <div class="row">



                            <div class="col-lg-12 col-md-12 mb-3">
                                <label for="WorkerType" class="form-label form-lable-custom">Worker Type</label>
                                <input type="text" class="d-block form-control form-input-custom"
                                    formControlName="WorkerType"
                                    [ngClass]="{ 'is-invalid':addworkforceform.controls['WorkerType'].errors && (addworkforceform.controls['WorkerType'].touched || addworkforceform.controls['WorkerType'].dirty) }">
                                <div class="text-danger error-message"
                                    *ngIf="addworkforceform.controls['WorkerType'].errors && (addworkforceform.controls['WorkerType'].touched || addworkforceform.controls['WorkerType'].dirty)">
                                    <p class="fw-light text-danger"
                                        *ngIf="addworkforceform.controls['WorkerType'].errors['required']">Worker Type

                                        is Requried</p>
                                </div>
                            </div>




                            <div class="col-lg-12 col-md-12 mb-3">
                                <label for="Salary" class="form-label form-lable-custom">Salary (per shift)</label>
                                <input type="text" class="d-block form-control form-input-custom"
                                    formControlName="Salary"
                                    [ngClass]="{ 'is-invalid':addworkforceform.controls['Salary'].errors && (addworkforceform.controls['Salary'].touched || addworkforceform.controls['Salary'].dirty) }">

                                <div class="text-danger error-message"
                                    *ngIf="addworkforceform.controls['Salary'].errors && (addworkforceform.controls['Salary'].touched || addworkforceform.controls['Salary'].dirty)">
                                    <p class="fw-light text-danger"
                                        *ngIf="addworkforceform.controls['Salary'].errors['required']">Salary is
                                        requried</p>
                                </div>
                            </div>





                        </div>
                    </div>
                    <div class="modal-footer text-end me-4 mb-3">
                        <button class="btn btn-secondary main-btnfs px-4 py-2 me-4 text-gray-600" type="button"
                            (click)="closeModal()">Cancel</button>
                        <button class="btn btn-primary main-btnfs px-4 py-2"
                            (click)="CreateWorkforcefun();">Create</button>
                    </div>
                    <div class="text-end error-message" *ngIf="!submitted">
                        <p class="fw-light text-danger">{{errorMessage}}</p>
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>


<div *ngIf="openSecondsuccess" class="your-animation-class modal-container-success" [@slideIn]
    aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div>
        <div class=" p-4 d-flex justify-content-between align-items-center success-content">
            <span class="icon-success me-2"><i class="fa-solid fa-check"></i></span>
            <p class="text-green-900 text-capitalize mb-0">
                {{successName}} successfully</p>
        </div>
    </div>
</div>





<!-- mark present -->

<div *ngIf="MarkPresent"
    class=" your-animation-class modal-container"
    aria-labelledby="modal-title" role="dialog"
    aria-modal="true">
    <div class="modal-content modal-content-30" [@fadeIn]>
        <div>
            <div class="card">
                <div
                    class="card-header bg-white d-flex justify-content-between algin-items-center">
                    <h5 class="modal-title pt-1">Mark present</h5>
                    <button
                        class="btn btn-primary main-btn bg-transparent border-0 pb-0 pt-1 text-black"
                        type="button" (click)="closeModal()"><i
                            class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="modal-content-width mb-2">
                    <div class="card-body text-center ">
                        <span class="mark-success"><i
                                class="fa-solid fa-check"></i></span>
                        <p class="text-capitalize mb-0 pt-2 mark-text">Are You
                            sure ?</p>
                        <p class="mark-text-light">You want to Mark as
                            Present</p>
                    </div>
                    <div class="text-end border-top pt-3">
                        <button
                            class="btn btn-secondary main-btnfs px-4 py-2 me-4 text-gray-600"
                            type="button"
                            (click)="closeModal()">No</button>
                        <button
                            class="btn btn-primary main-btnfs px-4 py-2 me-3"
                            type="submit"
                            (click)="MarkAttendancepresentFun()">Yes</button>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


<div *ngIf="Markabsent"
    class=" your-animation-class modal-container"
    aria-labelledby="modal-title" role="dialog"
    aria-modal="true">
    <div class="modal-content modal-content-30" [@fadeIn]>
        <div>
            <div class="card">
                <div
                    class="card-header bg-white d-flex justify-content-between algin-items-center">
                    <h5 class="modal-title pt-1">Mark Absent</h5>
                    <button
                        class="btn btn-primary main-btn bg-transparent border-0 pb-0 pt-1 text-black"
                        type="button" (click)="closeModal()"><i
                            class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="modal-content-width mb-2">
                    <div class="card-body text-center ">
                        <span class="mark-cross"><i
                                class="fa-solid fa-check"></i></span>
                        <p class="text-capitalize mb-0 pt-2 mark-text">Are You
                            sure ?</p>
                        <p class="mark-text-light">You want to Mark as
                            Absent</p>
                    </div>
                    <div class="text-end border-top pt-3">
                        <button
                            class="btn btn-secondary main-btnfs px-4 py-2 me-4 text-gray-600"
                            type="button"
                            (click)="closeModal()">No</button>
                        <button
                            class="btn btn-primary main-btnfs px-4 py-2 me-3"
                            type="submit"
                            (click)="MarkAttendanceabsentFun()">Yes</button>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>