/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'sans-serif' !important;
  line-height: 1.6 !important;
  font-size: 16px !important;
  box-sizing: border-box !important;
}



// Sidnav scrollbar 

.mat-drawer.mat-drawer-side {
  z-index: 1 !important;
}

.custom-scrollbar {
  overflow-y: auto;
  height: 90vh;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}

.custom-scrollbar {
  scrollbar-width: none !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0 !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888 !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  display: none !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  display: none !important;
}



.login {
  width: 100%;
  height: 100%;
  // background-color: #36a292;
  // background: linear-gradient(90deg, #36a292, #63d6b0, #a0eddf);
  background: linear-gradient(356deg, #36a292, rgba(54, 162, 146, 0.5));
}

.eye-button {
  position: absolute;
  right: 0;
  top: 46px;
  color: #36a292;
  font-weight: 500;
}

.form-control:focus {
  border-color: rgb(54, 162, 146);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(54, 162, 146, .10)
}


.btn-primary {
  color: #fff;
  background-color: #36a292;
  border-color: #36a292;
}

.btn-primary:hover {
  color: #fff;
  background-color: #36a292;
  border-color: #36a292;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #36a292;
  border-color: #36a292;
  box-shadow: 0 0 0 0.10rem rgba(54, 162, 146, 0.796)
}

//(212, 88, 18, 0.796)
.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #36a292;
  border-color: #36a292;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(54, 162, 146, 0.796);
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active{
  background-color: #36a292;
  border-color: #36a292;
}

.text-primary {
  color:#36a292 !important;
}


.logo-image{
  max-width: 104px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 12px;
  display: inline;
  display: block;
  margin: 6px auto;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
}


.login-border-text {
  display: inline-block;
  border-bottom: 2px solid #36a292;
  font-size: 30px !important;
}

.login-screen-img {
  width: 100%;
  height: 472px;
  border-radius: 10px;
  object-fit: cover;
}