<div class="card border-0 shadow-lg shadow-cyan-500">
  <div class="card-body px-5 py-4">
    <div class="text-center mb-3">
      <img src="./assets/Amcon-logo.png" class="logo-image mt-0" />
      <h3
        class="text-primary pb-2 text-center login-border-text text-capitalize text-primary"
      >
        {{ title }}
      </h3>
    </div>

    <form [formGroup]="signinform" (ngSubmit)="onSubmit()">
      <div
        class="mb-3"
        *ngIf="!signinform.get('Email')?.disabled && !showOTPField"
      >
        <label
          class="d-block text-capitalize form-label form-lable-custom"
          for="Email"
          >Enter Your Email</label
        >
        <input
          type="text"
          class="d-block form-control form-input-custom"
          formControlName="Email"
          placeholder="Enter Your Email"
          [ngClass]="{
            'is-invalid':
              signinform.controls['Email'].errors &&
              (signinform.controls['Email'].touched ||
                signinform.controls['Email'].dirty)
          }"
        />
        <div
          class="text-danger error-message"
          *ngIf="
            signinform.controls['Email'].errors &&
            (signinform.controls['Email'].touched ||
              signinform.controls['Email'].dirty)
          "
        >
          <p
            class="fw-light text-danger"
            *ngIf="signinform.controls['Email'].errors['required']"
          >
            Email is required
          </p>
          <p
            class="fw-light text-danger"
            *ngIf="signinform.controls['Email'].errors['pattern']"
          >
            Please Enter correct email
          </p>
        </div>
      </div>
      <!-- new code for otp -->
      <div
        class="mb-3"
        *ngIf="
          showOTPField &&
          signinform.get('Email')?.valid &&
          signinform.get('Email')?.value.length
        "
      >
        <label for="otp" class="form-label">Enter OTP</label>
        <input
          type="text"
          class="form-control input-custom"
          formControlName="otp"
          [ngClass]="{
            'is-invalid':
              signinform.get('otp')!.errors &&
              !matched &&
              (signinform.get('otp')!.touched || signinform.get('otp')!.dirty)
          }"
        />
        <div
          class="text-danger"
          *ngIf="
            signinform.get('otp')?.hasError('required') &&
            (signinform.get('otp')?.touched || signinform.get('otp')?.dirty)
          "
        >
          <p class="fw-light fs-5 text-end text-danger mb-0">OTP is required</p>
        </div>
        <div class="text-end d-flex align-items-center justify-content-end">
          <button
            type="button"
            [disabled]="disableResend"
            (click)="VerifyEmail()"
            class="main-btnfs me-1 py-1 text-primary bg-transparent border-0 d-flex justify-content-center"
          ></button>
        </div>
      </div>
      <div class="text-center">
        <button
          *ngIf="!showOTPField"
          class="btn btn-primary rounded main-btn px-5 mt-4 mb-3"
          type="button"
          routerLink="/dashboard"
          routerLinkActive="active"
        >
          Send OTP
        </button>
      </div>

      <div class="text-center">
        <button
          *ngIf="showOTPField"
          class="btn btn-primary rounded main-btn px-5 mt-4 mb-3"
          type="button"
          (click)="VerifyOtp(); markAllAsTouched()"
        >
          Verify OTP
        </button>
      </div>
      <p class="text-danger fs-5 text-end" *ngIf="erroroutput">
        *{{ errorMessage }}
      </p>
    </form>
  </div>
</div>

<!-- Create Employer forms start -->
<div
  *ngIf="openSecondsuccess"
  class="your-animation-class modal-container-success"
  [@slideIn]
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div>
    <div
      class="p-4 d-flex justify-content-between align-items-center success-content"
    >
      <span class="icon-success me-2"><i class="fa-solid fa-check"></i></span>
      <p class="text-green-900 text-capitalize">Login successfully</p>
    </div>
  </div>
</div>
