<div class="container">
   

    <div class="d-flex justify-content-between align-items-center">
        <!-- <h1 class="admin-heading">Order Management </h1> -->
        <div>


            <button class="btn btn-success main-btnfs px-3 py-2 addproject-btn" (click)="projectcreatemodal()"> Add Project </button>
        </div>
    </div>



    <div class="card border-0 mb-4 py-0 tabel-card">

        






        <form [formGroup]="FilterForm">
            <div class="row mb-2">
                <div class="col-lg-6">
                    <input type="text" class="form-control px-4 py-2 mt-2 ml-2" placeholder="Search by name" #filter
                        formControlName="filter"
                        [ngClass]="{ 'is-invalid':FilterForm.controls['filter'].errors && (FilterForm.controls['filter'].touched || FilterForm.controls['filter'].dirty) }">
                    <div class="text-danger error-message"
                        *ngIf="FilterForm.controls['filter'].errors && ( FilterForm.controls['filter'].touched ||  FilterForm.controls['filter'].dirty)">
                        <p class="fw-light  text-danger" *ngIf="FilterForm.controls['filter'].errors['required']">
                            Name is required</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-primary main-btnfs px-4 py-2 mt-2" type="button" (click)="getOngoingproject(1)">Search</button>
                    <button class="btn btn-primary main-btnfs px-4 py-2 mt-2 ml-2" type="submit"
                        *ngIf="showStudent!=undefined" (click)="resetFilter()">Reset</button>
                </div>
            </div>
        </form>







        <div class="d-md-flex justify-content-between align-items-center my-3">
            <div class="d-flex  align-items-center mb-md-0 mb-2">
                <span class="me-1 show-entery-text">Show</span>
                <select class="form-control form-select show-entries-select" (change)="onTableSizeChange($event)">
                    <option *ngFor="let size of tableSizes" [ngValue]="size">
                        {{ size }}
                    </option>
                </select>
                <span class="ms-1 show-entery-text">entries</span>
            </div>

            <div class="d-flex align-items-center">
                <form [formGroup]="searchbarform" class="d-flex align-items-center">
                    <span class="me-1">Search:</span>
                    <div>
                        <input type="text" class="form-control search-user position-relative" type="text"
                            autocomplete="off" formControlName="searchbar"
                            [ngClass]="{ 'is-invalid':searchbarform.controls['searchbar'].errors && (searchbarform.controls['searchbar'].touched || searchbarform.controls['searchbar'].dirty) }">
                        <div class="text-danger error-message d-block"
                            *ngIf="searchbarform.controls['searchbar'].errors && (searchbarform.controls['searchbar'].touched || searchbarform.controls['searchbar'].dirty)">
                            <p class="fw-light  text-danger search-required"
                                *ngIf="searchbarform.controls['searchbar'].errors['required']">
                                This is required</p>
                        </div>
                    </div>

                    <button class="btn btn-primary search-btn ms-2" (click)="searchfun()"><span><i
                                class="fa-solid fa-magnifying-glass form-control-feedback"></i></span>
                    </button>
                    <button class="btn btn-primary search-btn ms-2" (click)="resetsearchbar()" type="submit"
                        *ngIf="showreset==true"><span><i
                                class="fa-solid fa-rotate-right form-control-feedback"></i></span>
                    </button>
                </form>

            </div>

        </div>


        <div class="table-responsive-sm">
            <table class="table table-hover">
                <thead class="table-header-trailer">
                    <tr *ngFor="let detail of table_heading">

                        <th>
                            <p class="table-heading table-new-heading">{{ detail.heading0 }}</p>
                        </th>
                        <th>
                            <p class="table-heading table-new-heading">{{ detail.heading1 }}</p>
                        </th>
                        <th>
                            <p class="table-heading table-new-heading">{{ detail.heading2 }}</p>
                        </th>
                        <th>
                            <p class="table-heading table-new-heading">{{ detail.heading3 }}</p>
                        </th>
                        <th>
                            <p class="table-heading table-new-heading">{{ detail.heading4 }}</p>
                        </th>
                        <th>
                            <p class="table-heading table-new-heading">{{ detail.heading5 }}</p>
                        </th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productTable; let i = index">

                        <td>{{ i + 1 }}</td>
                        <td>
                            <p>{{ product.name }}</p>
                        </td>
                        <td>
                            <p>{{ product.total_in }}</p>
                        </td>
                        <td>
                            <p>{{ product.total_out }}</p>
                        </td>
                        <td>
                            <p>{{ product.description }}</p>
                        </td>


                        <td>
                            <p>{{ product.action }}
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="viewmmodal(product.id)">View Details</button>
                                    <!-- <button mat-menu-item (click)="deleteeventmmodal()">Delete Event</button> -->
                                </mat-menu>
                            </p>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-md-flex justify-content-between bottom-0 end-0 py-2 align-items-center">
                <span class="showalltext">Showing
                    {{(tableSize*(page-1))>0?tableSize*(page-1)+1:1}} to
                    {{(tableSize*(page))<=totalRecords?tableSize*(page):totalRecords}} of
                        {{totalRecords!=undefined?totalRecords:""}} entries</span>
                        <!-- <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]=true
                        (pageChange)="onTableDataChange($event)" target="_top"></pagination-controls> -->
            </div>
        </div>
    </div>

</div>









<div *ngIf="projectgopen" class="your-animation-class modal-container" aria-labelledby="modal-title" role="dialog"
    aria-modal="true">
    <div class="modal-content modal-content-50" [@fadeIn]>
        <div class="card">
            <div class="card-header bg-white d-flex justify-content-between align-items-center">
                <h5 class="modal-title pt-1 mb-0 tt-color">Create Project</h5>
                <button class="btn btn-primary cross-btn bg-transparent border-0 pb-0 pt-1 text-black" type="button"
                    (click)="closeModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-content-width card-body mb-0">
                <div class="row">
                    <form [formGroup]="createproductform">
                        <div class="mb-3 ">
                            <label class="d-block text-capitalize form-label form-lable-custom" for="projectname">Project Site Name
                                </label>
                            <input type="text" class="d-block form-control form-input-custom" formControlName="projectname"
                             
                                [ngClass]="{ 'is-invalid':createproductform.controls['projectname'].errors && (createproductform.controls['projectname'].touched || createproductform.controls['projectname'].dirty) }">
                            <div class="text-danger error-message"
                                *ngIf="createproductform.controls['projectname'].errors && (createproductform.controls['projectname'].touched || createproductform.controls['projectname'].dirty)">
                                <p class="fw-light text-danger"
                                    *ngIf="createproductform.controls['projectname'].errors['required']">
                                    Project Site Name is required</p>

                            </div>
                        </div>




                        <div class="mb-3 ">
                            <label class="d-block text-capitalize form-label form-lable-custom"
                                for="Address">Address</label>
                            <input type="text" class="d-block form-control form-input-custom"
                                formControlName="Address" 
                                [ngClass]="{ 'is-invalid':createproductform.controls['Address'].errors && (createproductform.controls['Address'].touched || createproductform.controls['Address'].dirty) }">
                            <div class="text-danger error-message"
                                *ngIf="createproductform.controls['Address'].errors && (createproductform.controls['Address'].touched || createproductform.controls['Address'].dirty)">
                                <p class="fw-light text-danger"
                                    *ngIf="createproductform.controls['Address'].errors['required']">
                                    Address  is required</p>

                            </div>
                        </div>



                        <!-- (change)="GetCityByState(State.value)"
                        (click)="GetCityByState(State.value)" -->
                        <div class="mb-3">
                            <label for="State"
                                class="form-label form-lable-custom">State</label>
                            <select
                                class="form-control form-input-custom form-select"
                                #State formControlName="State"
                                (change)="onStateChange($event)"
                                [ngClass]="{ 'is-invalid':createproductform.controls['State'].errors  && (createproductform.controls['State'].touched || createproductform.controls['State'].dirty)  }"
                             > 
        <option *ngFor="let state of stateList" [value]="state.id"> 
            {{ state.name }}
        </option>
                             
                            </select>
                            <div class="error-message"
                                *ngIf="createproductform?.get('State')?.hasError('required') && (createproductform?.get('State')?.dirty || createproductform?.get('State')?.touched)">
                                <p class="fw-light  text-danger"> State is
                                    required</p>
                            </div>
                        </div>
    
                        <div class="mb-3">
                            <label for="City"
                                class="form-label form-lable-custom">City</label>
                            <select
                                class="form-control form-input-custom form-select"
                                #City formControlName="City"
                                [ngClass]="{ 'is-invalid':createproductform.controls['City'].errors  && (createproductform.controls['City'].touched || createproductform.controls['City'].dirty)  }">
                                <option *ngFor="let city of citiesList" [value]="city.id"> <!-- Bind to citiesList and use city.name -->
                                    {{ city.name }}
                                </option>
                            </select>
                            <div class="error-message"
                                *ngIf="createproductform?.get('City')?.hasError('required') && (createproductform?.get('City')?.dirty || createproductform?.get('City')?.touched)">
                                <p class="fw-light  text-danger"> City is
                                    required</p>
                            </div>
                        </div>








                         <div class="mb-3 ">
                            <label class="d-block text-capitalize form-label form-lable-custom" for="SelectClient">
                                Select Client</label>
                            <select class="form-select form-input-custom" formControlName="SelectClient"
                                [ngClass]="{ 'is-invalid': createproductform.controls['SelectClient'].errors && (createproductform.controls['SelectClient'].touched || createproductform.controls['SelectClient'].dirty) }">
                                <option *ngFor="let client of clientList" [value]="client.id">
                                    {{ client.name }}
                                </option>
                            </select>
                            <div class="text-danger error-message"
                                *ngIf="createproductform.controls['SelectClient'].errors && (createproductform.controls['SelectClient'].touched || createproductform.controls['SelectClient'].dirty)">
                                <p class="fw-light text-danger"
                                    *ngIf="createproductform.controls['SelectClient'].errors['required']">
                                    Select Client is required
                                </p>
                            </div>
                        </div> 

                   
                        



                        <div  *ngIf="Type === 'admin'"class="mb-3 ">
                            <label class="d-block text-capitalize form-label form-lable-custom" for="Selectstaff">
                                Select Staff</label>
                            <select class="form-select form-input-custom" formControlName="Selectstaff"
                                [ngClass]="{ 'is-invalid': createproductform.controls['Selectstaff'].errors && (createproductform.controls['Selectstaff'].touched || createproductform.controls['Selectstaff'].dirty) }">
                                <option *ngFor="let staff of staffList" [value]="staff.id">
                                    {{ staff.name }}
                                </option>
                              
                            </select>
                            <div class="text-danger error-message"
                                *ngIf="createproductform.controls['Selectstaff'].errors && (createproductform.controls['Selectstaff'].touched || createproductform.controls['Selectstaff'].dirty)">
                                <p class="fw-light text-danger"
                                    *ngIf="createproductform.controls['Selectstaff'].errors['required']">
                                    Select Staff is required
                                </p>
                            </div>
                        </div>






                        <div class="mb-3 ">
                            <label class="d-block text-capitalize form-label form-lable-custom" for="description">Description</label>
                            <textarea class="d-block form-control form-input-custom" rows="3" formControlName="description"
                                placeholder="Enter Your description"
                                [ngClass]="{ 'is-invalid': createproductform.controls['description'].errors && (createproductform.controls['description'].touched || createproductform.controls['description'].dirty) }"></textarea>
                            <div class="text-danger error-message"
                                *ngIf="createproductform.controls['description'].errors && (createproductform.controls['description'].touched || createproductform.controls['description'].dirty)">
                                <p class="fw-light text-danger"
                                    *ngIf="createproductform.controls['description'].errors['required']">
                                    Description is required
                                </p>
    
                            </div>
                        </div>




                        <div class="text-end mb-3">
                            <button class="btn btn-primary px-2 py-2" (click)="toggleGstDetails()">
                                <span>
                                    <i class="fa-solid" [ngClass]="showGstDetails ? 'fa-minus' : 'fa-plus'"></i>
                                </span>
                                More Details
                            </button>
                        </div>


                        <div class="col-lg-12 col-md-12 mb-3 ps-0" *ngIf="showGstDetails">
                            <div class="row mx-0">

                                <div class="col-lg-6">
                                    <label for="StartDate" class="form-label form-lable-custom">Start Date</label>
                                    <input type="date" class="form-control form-input-custom"
                                        formControlName="StartDate">
                                
                                </div>


                                <div class="col-lg-6">
                                    <label for="endDate" class="form-label form-lable-custom">End Date</label>
                                    <input type="date" class="form-control form-input-custom"
                                        formControlName="endDate" >
                                 
                                </div>

                                


                            </div>

                        </div>






<!-- 



                        <div class="mb-3">
                            <label for="StartDate"
                              class="form-label form-lable-custom">Start Date</label>
                            <input type="date" class="form-control form-input-custom"  onkeydown="return false"
                              formControlName="StartDate">
                            </div>
                        <div class="mb-3">
                            <label for="endDate"
                              class="form-label form-lable-custom">End Date</label>
                            <input type="date" class="form-control form-input-custom"  onkeydown="return false"
                              formControlName="endDate">
                           
                          </div> -->




                       

                        <div class="modal-footer text-end">
                            <button class="btn btn-secondary main-btnfs px-4 py-2 me-4 text-gray-600" type="button"
                              (click)="closeModal()">Cancel</button>
                            <button class="btn btn-custom-primary  px-4 py-2"  type="submit" (click)="createprojects()" >Create</button>
                          </div>

                    </form>

                </div>



            </div>
          
        </div>

    </div>
</div>